# Local .terraform directory 
.terraform/

# Terraform state files (for sensitive state data)
*.tfstate
*.tfstate.* 

# Terraform variable override files (used for secrets normally)
*.tfvars
*.tfvars.json

# Terraform plan file
*.tfplan

# Crash loog files
crash.log 

# For senstive and environment configs 
override.tf
override.tf.json

# Sensitive shell history
.terraformrc
terraform.rc